.coaches
    background-color: $whiteBlue-color
    .coaches__first__title
        padding-top: 30px
        font-family: $ff
        color: $blackMenu-color
        font-size: 64px
        font-weight: 700
        margin-left: 20px
    .coaches__blocks
        margin-top: 57px
        margin-left: 50px
        .coach__block__left
            display: flex
            .information__coach
                margin-left: 65px
                margin-top: 10px
                .name__coach
                    font-family: $ff
                    color: $blackMenu-color
                    font-size: 24px
                    font-weight: 500
                .text__coach
                    font-family: $ff
                    color: $blackMenu-color
                    font-size: 22px
                    font-weight: 400
                    width: 450px
                .role__coach
                    margin-top: 15px
        .coach__block__right
            display: flex
            .information__coach
                margin-top: 10px
                .name__coach
                    font-family: $ff
                    color: $blackMenu-color
                    font-size: 24px
                    font-weight: 500
                .text__coach
                    font-family: $ff
                    color: $blackMenu-color
                    font-size: 22px
                    font-weight: 400
                    width: 450px
                .role__coach
                    margin-top: 15px
            .coach__img
                margin-left: 88px
        .coach__block
            padding-bottom: 53px
            
@media screen and ( max-width: 1140px )
    .coaches
        .coaches__blocks
            .coach__block__left
                .coach__img
                    margin-left: -20px
            .coach__block__right
                .coach__img
                    margin-left: 50px

@media screen and ( max-width: 1000px )
    .coaches
        .coaches__blocks
            .coach__block__left
                flex-direction: column
                .information__coach
                    margin-top: 20px
                    margin-left: 0
                    text-align: center
                .coach__img
                    margin-left: auto
                    margin-right: auto
                    width: 400px
            .coach__block__right
                flex-direction: column-reverse
                .information__coach
                    margin-top: 20px
                    text-align: center
                .coach__img
                    margin-left: auto
                    margin-right: auto
                    width: 400px

@media screen and ( max-width: 700px )
    .coaches
        .coaches__first__title
            font-size: 48px
            text-align: center
        .coaches__blocks
            .coach__block__left
                flex-direction: column
                .information__coach
                    margin-top: 20px
                    margin-left: 0
                    text-align: center
                    .text__coach
                        width: 400px
                        font-size: 18px
            .coach__block__right
                flex-direction: column-reverse
                .information__coach
                    margin-top: 20px
                    text-align: center
                    .text__coach
                        width: 400px
                        font-size: 18px

@media screen and ( max-width: 500px )
    .coaches
        .coaches__first__title
            font-size: 32px
            text-align: center
        .coaches__blocks
            .coach__block__left
                flex-direction: column
                .information__coach
                    margin-top: 10px
                    margin-left: -10px
                    text-align: center
                    .text__coach
                        width: 220px
                        font-size: 18px
                .coach__img
                    display: none
            .coach__block__right
                flex-direction: column-reverse
                .information__coach
                    margin-top: 10px
                    margin-left: -10px
                    text-align: center
                    .text__coach
                        width: 220px
                        font-size: 18px
                .coach__img
                    display: none