.feedback__form
    background-color: $white-color
    border-bottom: 1px solid $whiteBlue-color
    .second__title__feedback__form
        margin-top: 30px
        font-family: $ff
        color: $blackMenu-color
        font-size: 48px
        font-weight: 700
        margin-left: 30px
    .form
        margin-top: 74px
        margin-left: 30px
        display: grid
        grid-template-columns: repeat(4,1fr)
        grid-gap: 62px
        padding-bottom: 65px
        input
            width: 187px
            border: none
            border-bottom: 1px solid #999999
            text-align: center
            font-family: $ff
            color: #999999
            font-size: 24px
            font-weight: 300
            &:focus
                outline: none
        button
            font-family: $ff
            color: $blackMenu-color
            font-size: 24px
            font-weight: 300
            border: none
            background-color: $whiteBlue-color
    

@media screen and ( max-width: 950px) 
    .feedback__form
        .form
            grid-template-columns: repeat(1,1fr)
            input
                width: 400px
                margin: 0 auto
            button
                width: 400px
                margin: 0 auto
@media screen and ( max-width: 500px )
    .feedback__form
        .second__title__feedback__form
            font-size: 32px
        .form
            grid-template-columns: repeat(1,1fr)
            input
                width: 200px
                margin: 0 auto
            button
                width: 200px
                margin: 0 auto
