.footer
    background-color: $white-color
    margin-top: 58px
    padding-bottom: 58px
    .footer__wrapper
        display: grid
        grid-template-columns: repeat(3,1fr)
        grid-gap: 120px
        .column__footer
            display: flex
            flex-direction: column
            .text__footer
                margin-bottom: 30px
                font-family: $ff
                color: $blackMenu-color
                font-size: 18px
                &:last-child
                    margin-bottom: 0
            .a__footer
                text-decoration: none
                &:hover
                    color: $whiteBlue-color
                    //border-bottom: solid 1px $whiteBlue-color
                    transition: all 0.2s ease 0.1s
            .social__img
                a   
                    margin-right: 35px
                    &:last-child
                        margin-right: 0
        .center__column__footer
            padding-left: 40px
@media screen and ( max-width: 1140px )
    .footer
        .footer__wrapper
            grid-gap: 70px

@media screen and ( max-width: 1000px )
    .footer
        .footer__wrapper
            grid-gap: 50px
            .column__footer
                .text__footer
                    font-size: 12px
                .social__img
                    a 
                        margin-right: 7px
                        img 
                            width: 25px
                            height: 25px

@media screen and ( max-width: 700px )
    .footer
        .footer__wrapper
            grid-template-columns: repeat(2,1fr)
            grid-gap: 50px
            .column__footer
                .text__footer
                    margin-bottom: 15px
                    font-size: 14px
                .social__img
                    a 
                        margin-right: 20px
                        img 
                            width: 35px
                            height: 35px
@media screen and ( max-width: 500px )
    .footer
        .footer__wrapper
            grid-template-columns: repeat(1,1fr)
            grid-gap: 10px
            .column__footer
                .text__footer
                    text-align: center
                    margin-bottom: 15px
                    font-size: 14px
                .social__img
                    margin: 0 auto
                    a 
                        margin-right: 10px
                        img 
                            width: 35px
                            height: 35px