.header
    background: $white-color
    padding-bottom: 30px
    .left__header__menu
        display: flex
        margin-top: 18px
        .hambur__menu__toggle
            display: none
        .header__menu
            display: flex
            list-style-type: none
            margin-left: 35px
            margin-top: 21px
            a   
                text-decoration: none
                margin-right: 24px
                font-family: $ff
                color: $blackMenu-color
                font-size: 18px
            a:last-child
                margin-right: 0
            a:hover
                color: $whiteBlue-color
                border-bottom: solid 1px $whiteBlue-color
                transition: all 0.2s ease 0.1s
    .right__header__menu
        display: flex
        justify-content: flex-end
        margin-top: -45px
        .header__phone
            text-decoration: none
            .phone__img
                padding-right: 12px
            .phone__number
                font-family: $ff
                color: $blackMenu-color
                font-size: 18px
@media screen and ( max-width: 1000px)
    .header
        .left__header__menu
            margin-left: -40px
            .hambur__menu__toggle
                display: block
            a
                img
                    margin-left: 15px
            .header__menu
                position: absolute
                left: 0
                margin-left: 0
                top: 70px
                width: 100%
                background-color: $white-color
                padding: 20px
                z-index: 1
                justify-content: space-between
                display: none
            .header__menu.is__open
                display: flex
@media screen and ( max-width: 700px )
    .header
        .left__header__menu
            margin-left: 0
            a
                img
                    margin-left: 15px
            .header__menu.is__open
                display: block
            .header__menu
                li 
                    text-align: center
        .right__header__menu
            .header__phone
                .phone__number
                    display: none