.slider-item
    height: 360px
    background-color: $white-color
    margin-top: 10px
    .slider__wrapper
        display: flex
        flex-direction: column
.main__slider1
    background-image: url(../images/slider/bg_slider1-min.png)
    .content__slider1
        margin-top: 72px
        margin-left: 60px
        .second__slider__title
            font-family: $ff
            color: $white-color
            font-weight: 500
            font-size: 48px
        .text__slider
            font-family: $ff
            color: $white-color
            font-weight: 400
            font-size: 18px
        .button__slider1
            text-decoration: none
            width: 195px
            margin-top: 35px
            font-family: $ff
            color: $white-color
            font-size: 14px
            font-weight: 400
            background-color: $whiteBlue-color
            padding: 18px 20px
            //border: 1px solid $whiteBlue-color
.main__slider2
    background-image: url(../images/slider/bg_slider2-min.png)
    .content__slider2
        padding-top: 70px
        padding-left: 60px
        .first__slider__title
            font-family: $ff
            color: $white-color
            font-weight: 500
            font-size: 64px
        .button__slider2
            margin-top: 60px
            margin-left: 350px
            text-decoration: none
            width: 356px
            font-family: $ff
            color: $white-color
            font-weight: 400
            font-size: 18px
            background-color: $yellow-color
            padding: 16px 77px
.main__slider3
    background-image: url(../images/slider/bg_slider3-min.png)
    .content__slider3
        padding-top: 70px
        padding-left: 20px
        .first__slider__title
            font-family: $ff
            color: $white-color
            font-weight: 500
            font-size: 64px
        .button__slider3
            margin-top: 60px
            margin-left: 350px
            text-decoration: none
            width: 356px
            font-family: $ff
            color: $white-color
            font-weight: 400
            font-size: 18px
            background-color: $whiteBlue-color
            padding: 16px 77px
.description__why__we
    background-color: $white-color
    margin-top: 40px
    .why__we__wrapper
        display: flex
        margin-bottom: 50px
        .text__description
            .description__first__title
                font-family: $ff
                color: $blackMenu-color
                font-weight: 700
                font-size: 64px
            .description__text
                width: 568px
                margin-left: 20px
                margin-top: 30px
                font-family: $ff
                color: $blackMenu-color
                font-weight: 400
                font-size: 18px
        .description__img
            margin-left: 56px
            margin-top: 15px
            height: 323px

.our__advantages
    background-color: $whiteBlue-color
    .advantages__first__title
        font-family: $ff
        color: $white-color
        font-size: 64px
        font-weight: 700
        text-align: center
        padding-top: 25px
    .our__advantages__blocks
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 60px
        padding-bottom: 100px
        margin-top: 22px
        .block__advantages
            width: 550px
            height: 250px
            .content__block
                padding-top: 20px
                padding-left: 30px
                padding-bottom: 38px
                padding-right: 30px
                .advantages__third__title
                    margin-top: 20px
                    font-family: $ff
                    color: $blackMenu-color
                    font-weight: 500
                    font-size: 24px
                .advantages__text
                    margin-top: 11px
                    font-family: $ff
                    color: #999999
                .white__color
                    color: $white-color
        .white__block__advantages
            background-color: $white-color
        .yellow__block__shadow
            box-shadow: 0 0 5px 1px $yellow-color

// first lesson
.first__lesson
    background-color: $white-color
    .second__title__first__lesson
        margin-top: 30px
        text-align: center
        font-family: $ff
        color: $blackMenu-color
        font-weight: 700
        font-size: 48px
    .things__first__lesson
        margin-top: 60px
        margin-bottom: 60px
        display: grid
        grid-template-columns: repeat(3,1fr)
        grid-gap: 150px
        .block_things
            display: flex
            flex-direction: column
            .thing__description
                margin-top: 30px
                font-family: $ff
                color: $blackMenu-color
                font-size: 36px
                font-weight: 500
                text-align: center

// map
.map
    background-color: $white-color
    .second__title__map
        font-family: $ff
        color: $blackMenu-color
        font-size: 48px
        font-weight: 700
        margin-left: 30px
        margin-top: 20px
        margin-bottom: 20px
                
@media screen and ( max-width: 1140px)
    .slider
        .main__slider2
            .content__slider2
                display: flex
                align-items: center
                .first__slider__title
                    font-weight: 500
                    font-size: 48px
                    text-align: center
                .button__slider2
                    margin-left: 0
        .main__slider3
            .content__slider3
                display: flex
                align-items: center
                .first__slider__title
                    font-weight: 500
                    font-size: 48px
                    text-align: center
                .button__slider3
                    margin-left: 0
    .description__why__we
        .why__we__wrapper
            .text__description
                margin-left: -25px
                .description__first__title
                    font-weight: 500
                    font-size: 48px
            .description__img
                margin-left: 15px
    .our__advantages
        .advantages__first__title
            font-size: 48px
            font-weight: 500
        .our__advantages__blocks
            display: flex
            flex-direction: column
            align-items: center
    .first__lesson
        .second__title__first__lesson
            font-size: 48px
            font-weight: 500
            .block__advantages
                .content__block
                    padding-bottom: 20px
        .things__first__lesson
            grid-gap: 50px
@media screen and ( max-width: 1000px )
    .slider
        .main__slider1
            .content__slider1
                display: flex
                align-items: center
                .second__slider__title
                    text-align: center
                .text__slider
                    text-align: center
                .button__slider1
        .main__slider2
            .content__slider2
                display: flex
                align-items: center
                .first__slider__title
                    font-size: 48px
                    text-align: center
                .button__slider2
                    margin-left: 0
        .main__slider3
            .content__slider3
                display: flex
                align-items: center
                .first__slider__title
                    font-size: 48px
                    text-align: center
                .button__slider3
                    margin-left: 0
    .description__why__we
        .why__we__wrapper
            .text__description
                margin: 0 auto
                .description__first__title
                    text-align: center
                .description__text
                    text-align: center
            .description__img
                display: none
    .first__lesson
        .things__first__lesson
            grid-template-columns: repeat(1,1fr)
            margin-top: 20px
            margin-bottom: 20px
            .block_things
                img
                    margin: 0 auto
                    width: 500px
            .third__thing
                margin-top: -15px
@media screen and ( max-width: 700px )
    .slider
        .main__slider2
            .content__slider2
                display: flex
                align-items: center
                .first__slider__title
                    font-size: 36px
                    text-align: center
                .button__slider2
                    margin-left: 0
        .main__slider3
            .content__slider3
                display: flex
                align-items: center
                .first__slider__title
                    font-size: 36px
                    text-align: center
                .button__slider3
                    margin-left: 0
    .description__why__we
        .why__we__wrapper
            .text__description
                .description__first__title 
                    text-align: center
                    font-size: 36px
                .description__text
                    text-align: center
                    font-size: 14px
                    font-weight: 400
                    width: 490px
    .our__advantages
        .advantages__first__title
            font-size: 36px
        .our__advantages__blocks
            .block__advantages
                width: 450px
                height: 200px
                .content__block
                    .advantages__img
                        display: none
                    .advantages__third__title
                        text-align: center
                    .advantages__text
                        text-align: center
    .first__lesson
        .second__title__first__lesson
            font-size: 36px
        .things__first__lesson
            .block_things
                display: flex
                align-items: center
                img
                    width: 300px
                .thing__description
                    font-size: 28px
@media screen and ( max-width: 500px )
    .slider
        .main__slider1
            .content__slider1
                margin-left: 0
                .second__slider__title
                    font-size: 36px
                .text__slider
                    font-size: 20px
        .main__slider2
            .content__slider2
                .first__slider__title
                    font-size: 28px
                .button__slider2
                    width: 195px
                    padding: 18px 20px
                    font-size: 14px
        .main__slider3
            .content__slider3
                .first__slider__title
                    font-size: 28px
                .button__slider3
                    width: 195px
                    padding: 18px 20px
                    font-size: 14px
    .description__why__we
        .why__we__wrapper
            .text__description
                .description__first__title
                    font-size: 26px
                    text-align: center
                .description__text
                    width: 280px
    .our__advantages
        .advantages__first__title
            font-size: 26px
            text-align: center
        .our__advantages__blocks
            .block__advantages
                width: 250px
                height: 300px
                .content__block
                    .advantages__img
                        display: none
                    .advantages__third__title
                        margin-top: 0
                        text-align: center
                    .advantages__text
                        text-align: center
            .third__block
                height: 200px
            .four__block
                height: 180px
    .first__lesson
        .second__title__first__lesson
            font-size: 30px
        .things__first__lesson
            .block_things
                margin-top: -40px
                display: flex
                align-items: center
                img
                    display: none
                .thing__description
                    font-size: 22px
    .map
        .second__title__map
            font-size: 32px