.photogallery
    .first__title__photogallery
        font-family: $ff
        color: $blackMenu-color
        font-size: 64px
        font-weight: 700
        margin-top: 50px
    .text__photogallery
        font-family: $ff
        color: $blackMenu-color
        font-size: 24px
        font-weight: 500
        margin-left: 20px
    .gallery__block
        display: flex
        align-items: center
        justify-content: center
        .left__arrow,
        .right__arrow
            width: 100px
            height: 100px
        #img__photogallery
            width: 900px
            height: 600px

@media screen and ( max-width: 1200px )
    .photogallery
        .gallery__block
            #img__photogallery
                width: 690px

@media screen and ( max-width: 1000px )
    .photogallery
        .first__title__photogallery
            font-size: 48px
            font-weight: 600
        .text__photogallery
            font-size: 18px
        .gallery__block
            .left__arrow,
            .right__arrow
                width: 70px
                height: 70px
            #img__photogallery
                width: 390px
                height: 350px

@media screen and ( max-width: 700px )
    .photogallery
        .gallery__block
            .left__arrow,
            .right__arrow
                width: 50px
                height: 50px
            #img__photogallery
                width: 340px
                height: 300px

@media screen and ( max-width: 500px )
    .photogallery
        .first__title__photogallery
            font-size: 28px
            font-weight: 500
        .text__photogallery
            font-size: 14px
        .gallery__block
            .left__arrow,
            .right__arrow
                width: 30px
                height: 30px
            #img__photogallery
                width: 80%
                height: 200px