.training__program
    background-color: $whiteBlue-color
    .first__title__training
        font-family: $ff
        color: $white-color
        font-size: 64px
        font-weight: 700
        padding-top: 50px
        margin-left: 30px
    .training__programs__column
        display: grid
        grid-template-columns: repeat(3,1fr)
        grid-gap: 95px
        margin-top: 62px
        padding-bottom: 57px
        .programm__block
            background-color: $white-color
            border: 1px solid $blackMenu-color
            height: 775px
            .name__group
                font-family: $ff
                color: $blackMenu-color
                font-size: 22px
                font-weight: 400
                text-align: center
                margin-top: 51px
                .years__group
                    font-weight: 500
            .description__group
                font-family: $ff
                color: $blackMenu-color
                font-size: 16px
                font-weight: 400
                margin-left: auto
                margin-right: auto
                margin-top: 25px
                width: 210px
            .price__group
                font-family: $ff
                color: $blackMenu-color
                font-size: 30px
                font-weight: 700
                text-align: center
                margin-top: 24px
                margin-bottom: 41px
            .training__item
                display: flex
                justify-content: center
                //margin-top: 45px
                .training__item__img
                    margin-left: 25px
                    margin-top: 10px
                    width: 56px
                    height: 56px
                .description__training__item
                    margin-left: 9px
                    .six__training__program__title
                        font-family: $ff
                        color: $blackMenu-color
                        font-size: 16px
                        font-weight: 700
                    .text__training__item
                        font-family: $ff
                        color: $blackMenu-color
                        font-size: 16px
                        font-weight: 400
                        width: 205px
                    &:last-child
                        margin-bottom: 39px
            .button__trainig__item
                margin-left: 45px
                margin-bottom: 40px
                text-decoration: none
                font-family: $ff
                color: $blackMenu-color
                font-size: 16px
                font-weight: 400
                padding: 21px 22px
                border: 1px solid $yellow-color
@media screen and ( max-width: 1140px )
    .training__program
        .first__title__training
        .training__programs__column
            grid-gap: 30px
// @media screen and ( max-width: 1000px )
//     .training__program
//         .first__title__training
//         .training__programs__column
//             grid-gap: 15px
@media screen and ( max-width: 1000px )
    .training__program
        .first__title__training
            font-size: 36px
        .training__programs__column
            grid-template-columns: repeat(1, 1fr)
            .programm__block
                height: 800px
                .name__group
                    font-size: 32px
                .description__group
                    font-size: 24px
                    width: 450px
                    // margin: 0 auto
                .price__group
                    font-size: 36px
                .training__item
                    //margin-left: 80px
                    .training__item__img
                        width: 80px
                        height: 80px
                    .description__training__item
                        .six__training__program__title
                            font-size: 24px
                        .text__training__item
                            font-size: 18px
                            width: 300px
                .button__trainig__item
                    margin-left: 150px
                    

@media screen and ( max-width: 700px )
    .training__program
        .first__title__training
            font-size: 36px
        .training__programs__column
            grid-template-columns: repeat(1, 1fr)
            .programm__block
                height: 820px
                .name__group
                    font-size: 32px
                .description__group
                    font-size: 24px
                    width: 450px
                    margin: 0 auto
                .price__group
                    font-size: 36px
                .training__item
                    // margin-left: 40px
                    .training__item__img
                        width: 80px
                        height: 80px
                    .description__training__item
                        .six__training__program__title
                            font-size: 24px
                        .text__training__item
                            font-size: 18px
                            width: 300px
                .button__trainig__item
                    margin-left: 150px

@media screen and ( max-width: 500px )
    .training__program
        .first__title__training
            font-size: 28px
        .training__programs__column
            grid-template-columns: repeat(1, 1fr)
            .programm__block
                height: 730px
                .name__group
                    text-align: center
                    font-size: 22px
                .description__group
                    text-align: center
                    font-size: 14px
                    width: 200px
                    margin: 0 auto
                .price__group
                    font-size: 24px
                .training__item
                    .training__item__img
                        display: none
                    .description__training__item
                        text-align: center
                        .six__training__program__title
                            font-size: 18px
                        .text__training__item
                            font-size: 14px
                            width: 180px
                .button__trainig__item
                    margin-left: 20px
    
                    