.first__title__training
    font-family: $ff
    color: $blackMenu-color
    font-size: 64px
    font-weight: 700
.six__title__training
    font-family: $ff
    color: $blackMenu-color
    font-size: 24px
    font-weight: 400
.mar__20l
    margin-left: 20px
.mar__50l
    margin-left: 50px
    margin-top: 10px

.description__training
    background-color: $whiteBlue-color
    padding-bottom: 69px
    .description__training__wrapper
        display: flex
        .description__training__img
            margin-left: 30px
        .text__description__training
            .third__title__description__training
                font-family: $ff
                color: $blackMenu-color
                font-weight: 500
                font-size: 30px
                margin-left: 46px
            .text__description__training
                font-family: $ff
                color: $blackMenu-color
                font-size: 18px
                font-weight: 400
                margin-left: 64px
                width: 721px
.events
    background-color: $white-color
    margin-top: 40px
    padding-bottom: 60px
    border-bottom: 1px solid $whiteBlue-color
    .events__list
        margin-top: 33px
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 77px
        .img__event
            margin-left: 20px
        .title__event__column
            text-align: center
            margin-top: 17px
        .text__event__column
            margin-top: 17px
            text-align: center
            font-family: $ff
            color: #999999
            font-size: 18px
            font-weight: 300

@media screen and ( max-width: 1140px )
    .events
        .events__list
            grid-gap: 16px

    
@media screen and ( max-width: 1000px )
    .first__title__training
        font-size: 48px
        font-weight: 500
    .six__title__training
        font-size: 20px
        font-weight: 400
    .description__training
        display: none
    .events
        .events__list
            grid-template-columns: repeat(1, 1fr)
            grid-gap: 0
            width: 300px
            margin-left: auto
            margin-right: auto

@media screen and ( max-width: 500px )
    .first__title__training
        font-size: 32px
        font-weight: 500
    .six__title__training
        font-size: 16px
        font-weight: 400
    .events
        .events__list
            width: 200px
            margin-left: auto
            margin-right: auto
            .img__event
                width: 200px
                height: 200px
            .text__event__column
                font-size: 14px



