.feedback__form#a__feedback
    .container
        h2.second__title__feedback__form Оставьте заявку
        form.form(action="URL")
            input(type="text" name="name" placeholder="Ваше имя")
            input(type="text" name="name_child" placeholder="Имя ребенка")
            input(type="text" name="phone" placeholder="Ваш телефон")
            button.buttin__feedback__form Отправить