footer.footer
    .container.footer__wrapper
        .left__column__footer.column__footer
            span.text__footer 2018 ©  Мяч-Все права защищены 
            a(href="#").text__footer.a__footer Политика конфиденциальности
            a(href="#").text__footer.a__footer Пользовательское соглашение
        .center__column__footer.column__footer
            span.text__footer Мы в социальных сетях:
            .social__img
                a(href="#")  
                    img(src="images/footer/instagram.png", alt="") 
                a(href="#")
                    img(src="images/footer/vk.png", alt="")
                a(href="#")
                    img(src="images/footer/youtube.png", alt="")
        .right__column__footer.column__footer
            a(href="#").text__footer.a__footer Открыть школу в своем городе
            a(href="#").text__footer.a__footer Карьера в “Мяч”
            