header.header
    .container
        .left__header__menu
            button.hamburger.hamburger--spin.hambur__menu__toggle.js__menu__toggle(type="button")
                span.hamburger-box
                    span.hamburger-inner
            a(href="index.html")
                img(src="images/logo.png", alt="")
            ul.header__menu
                a(href="index.html")
                    li О школе
                a(href="training.html")
                    li Программы и цены
                a(href="coaches.html")
                    li Тренеры
                a(href="photogallery.html")
                    li Фотогалерея
        .right__header__menu
            a.header__phone(href="#")
                img.phone__img(src="images/Phone.png", alt="")
                span.phone__number 8 (831) 453-24-65