//fonts
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
//css
link(rel="stylesheet", href="css/slick.css")
link(rel="stylesheet", href="css/styles.min.css")