.training__program
                .container
                    h1.first__title__training Программы тренировок
                    .training__programs__column
                        .first__program.programm__block
                            p.name__group Мини: 
                                span.years__group от 3 до 5 лет
                            p.description__group Интенсивная программа тренировок. Развиваем фундаментальные умения игры в футбол.
                            p.price__group От 3 500 руб/мес
                            .training__item
                                img.training__item__img(src="images/training_programs/column_1_1.png", alt="")
                                .description__training__item
                                    h6.six__training__program__title Изучаем основы
                                    p.text__training__item Дети изучают основные правила игры, учатся ведению мяча и координации.
                            .training__item
                                img.training__item__img(src="images/training_programs/column_1_2.png", alt="")
                                .description__training__item
                                    h6.six__training__program__title Удовольствие от процесса
                                    p.text__training__item Дети начинают получать удовольствие от занятия футболом через различные игры и конкурсы на тренировках.
                            a.button__trainig__item(href="#a__feedback") Записаться на занятие  
                        .second__program.programm__block
                            p.name__group Стандарт: 
                                span.years__group от 6 до 7 лет
                            p.description__group Развиваем командные навыки и умения. Также уделяем внимание индивидуальным умениям.
                            p.price__group От 3 500 руб/мес
                            .training__item
                                img.training__item__img(src="images/training_programs/column_2_1.png", alt="")
                                .description__training__item
                                    h6.six__training__program__title Индивидуальность
                                    p.text__training__item Тренировки направлены на развитие индивидуального мастерства: дриблинг, обводка и удары.
                            .training__item
                                img.training__item__img(src="images/training_programs/column_2_2.png", alt="")
                                .description__training__item
                                    h6.six__training__program__title Командные качества
                                    p.text__training__item Психологически готовим детей к конкуреции. Развиваем командные умения и качества.
                            a.button__trainig__item(href="#a__feedback") Записаться на занятие
                        .third__program.programm__block
                            p.name__group Стандарт: 
                                span.years__group от 8 до 9 лет
                            p.description__group Развиваем стратегическое мышление. Готовим детей к просмотрам в футбольные академии.
                            p.price__group От 3 500 руб/мес
                            .training__item
                                img.training__item__img(src="images/training_programs/column_3_1.png", alt="")
                                .description__training__item
                                    h6.six__training__program__title Стратегическое мышление
                                    p.text__training__item Обучение стратегическому мышлению. Правильный выбор позиции, понимание поставленной задачи.
                            .training__item
                                img.training__item__img(src="images/training_programs/column_3_2.png", alt="")
                                .description__training__item
                                    h6.six__training__program__title Подготовка к отборам
                                    p.text__training__item Готовим детей к успешному прохождению отборов в футбольные академии. 
                            a.button__trainig__item(href="#a__feedback") Записаться на занятие