<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Тренеры
        include blocks/link
    body
        .wrapper
            // header
            include blocks/header
            // end header

            // main coaches
            .coaches
                .container
                    h1.coaches__first__title Наши тренеры
                    .coaches__blocks
                        .coach__block__left.coach__block
                            img.coach__img(src="images/coaches/coach1.png", alt="")
                            .information__coach
                                h6.name__coach Иванов Сергей Петрович
                                p.role__coach.text__coach Роль: тренер по футболу
                                p.age__coach.text__coach Возраст: 32 года
                                p.description__coach.text__coach Иванов С.П. имеет тренерский стаж 7 лет, в структуре нашей школы работает более 2 лет. Проходил зарубежные стажировки в различных клубах Европы.
                        .coach__block__right.coach__block
                            .information__coach
                                h6.name__coach Тихонов Олег Анатольевич
                                p.role__coach.text__coach Роль: тренер по футболу
                                p.age__coach.text__coach Возраст: 35 лет
                                p.description__coach.text__coach Тихонов О. А. работает детским тренером свыше 10 лет. В структуре нашей школы находится недавно. Работал в академии Спартака около 2 лет.
                            img.coach__img(src="images/coaches/coach2.png", alt="")
                        .coach__block__left.coach__block
                            img.coach__img(src="images/coaches/coach3.png", alt="")
                            .information__coach 
                                h6.name__coach Смирнов Тимофей Иванович
                                p.role__coach.text__coach Роль: тренер по футболу
                                p.age__coach.text__coach Возраст: 29 лет
                                p.description__coach.text__coach Смирнов Т. И. имеет тренерский стаж 4 года. Работает в нашей школе с момента открытия. Имеет большой опыт игры в футбол.
                        .coach__block__right.coach__block
                            .information__coach
                                h6.name__coach Геворкян Тимур Варданович
                                p.role__coach.text__coach Роль: тренер по футболу
                                p.age__coach.text__coach Возраст: 29 лет
                                p.description__coach.text__coach Геворкян Т. В. работает тренером 10 лет. В нашей структуре находится менее года. Учился и работал тренером в Европе.
                            img.coach__img(src="images/coaches/coach4.png", alt="")
                        .coach__block__left.coach__block
                            img.coach__img(src="images/coaches/coach5.png", alt="")
                            .information__coach
                                h6.name__coach Буйнов Игорь Петрович
                                p.role__coach.text__coach Роль: помощник тренера
                                p.age__coach.text__coach Возраст: 21 год
                                p.description__coach.text__coach Буйнов И. П. начал тренерскую карьеру недавно. В данный момент учится на тренера в физкультурном факультете.
                        .coach__block__right.coach__block
                            .information__coach
                                h6.name__coach Наливайкин Артем Вадимович
                                p.role__coach.text__coach Роль: помощник тренера
                                p.age__coach.text__coach Возраст: 19 лет
                                p.description__coach.text__coach Наливайкин А. В. работает в нашей школе 1 месяц. Совместно с работой учится на тренера.
                            img.coach__img(src="images/coaches/coach6.png", alt="")
                        .coach__block__left.coach__block
                            img.coach__img(src="images/coaches/coach7.png", alt="")
                            .information__coach
                                h6.name__coach Афонов Антон Владимирович
                                p.role__coach.text__coach Роль: тренер по физиподготовке
                                p.age__coach.text__coach Возраст: 25 лет
                                p.description__coach.text__coach Афонов А. В. работает в нашей школе с момента открытия. Ранее работал во многих фитнес-клубах тренером.
                        .coach__block__right.coach__block
                            .information__coach
                                h6.name__coach Смирнова Маргарита Павловна
                                p.role__coach.text__coach Роль: глава медицинского штаба
                                p.age__coach.text__coach Возраст: 33 года
                                p.description__coach.text__coach Смирнова М. П. имеет опыт работы 9 лет. Ранее работала в известных клубах страны.
                            img.coach__img(src="images/coaches/coach8.png", alt="")
            // end main coaches

            // footer
            include blocks/footer
            // end footer

            // script
            include blocks/script
            // end script