<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Футбольная школа мяч 
        include blocks/link
    body
        .wrapper
            // header
            include blocks/header
            // end header

            // slider
            .slider
                .slider-item.main__slider1
                    .container
                        .slider__wrapper.content__slider1
                            h2.second__slider__title Академия
                            p.text__slider Футбольная школа для детей от 3 до 9 лет
                            a(href="#a__feedback").button__slider1 Записаться на занятие
                .slider-item.main__slider2
                    .container
                        .slider__wrapper.content__slider2 
                            h1.first__slider__title Подарите мечту своему ребенку
                            a(href="#a__feedback").button__slider2 Записаться на занятие
                .slider-item.main__slider3
                    .container
                        .slider__wrapper.content__slider3
                            h1.first__slider__title Запишитесь на бесплатное занятие
                            a(href="#a__feedback").button__slider3 Записаться на занятие
                
            //end slider

            // why we
            .description__why__we
                .container
                    .why__we__wrapper
                        .text__description
                            h1.description__first__title Почему именно мы
                            p.description__text Наша футбольная школа считается лучшей в Нижнем Новгороде и одной из лучших в России. Детская футбольная школа “Мяч” уделяет внимание все аспектам тренировочного процесса. 
                            p.description__text Набор в школу ведется с 3-х лет. У каждого ребенка мы развиваем ловкость, быстроту, координацию, умение работать в команде. Кроме того, мы часто проводим турниры между детскими школами, что позволяет как можно лучше развивать игровую практику.
                        img(src="images/why__we__img.png", alt="").description__img
            // end why we

            // advantages
            .our__advantages
                .container
                    h1.advantages__first__title Наши преимущества
                    .our__advantages__blocks
                        .block__advantages.white__block__advantages
                            .content__block
                                img.advantages__img(src="images/advantages/advantages1.png", alt="")
                                h3.advantages__third__title Небольшие группы
                                p.advantages__text Мы практикуем исключительно индивидуальный подход, который основан на характере, физическом развитии, поле, возрасте конкретного ребенка.
                        .block__advantages.yellow__block__shadow
                            .content__block
                                img.advantages__img(src="images/advantages/advantages2.png", alt="")
                                h3.advantages__third__title.white__color Качество экипировки
                                p.advantages__text.white__color Мы постоянно обновляем инвентарь от хороших брендов спортивной экипировки. Весь инвентарь подобран с учетом рекомендация FIFA. 
                        .block__advantages.yellow__block__shadow.third__block
                            .content__block
                                img.advantages__img(src="images/advantages/advantages3.png", alt="")
                                h3.advantages__third__title.white__color Участие в турнирах
                                p.advantages__text.white__color Наши команды участвуют в товарищеских встречах и турнирах.
                        .block__advantages.white__block__advantages.four__block
                            .content__block
                                img.advantages__img(src="images/advantages/advantages4.png", alt="")
                                h3.advantages__third__title Летний лагерь
                                p.advantages__text Возможность проверсти летние каникулы на спортивных сборах.
            // end advantages

            // first lesson
            .first__lesson
                .container
                    h2.second__title__first__lesson На первое занятие потребуется
                    .things__first__lesson
                        .block_things.first__thing
                            img(src="images/first_lesson/first__thing.png", alt="").thing__img
                            p.thing__description Футболка
                        .block_things.secong__thing
                            img(src="images/first_lesson/second__thing.png", alt="").thing__img
                            p.thing__description Шорты
                        .block_things.third__thing
                            img(src="images/first_lesson/third__thing.png", alt="").thing__img
                            p.thing__description Обувь
            // end first lesson

            // training program
            include blocks/training__programs
            // end training program

            // feedback form
            include blocks/feedback__form
            // end feedback form

            // map
            .map
                .container
                    h2.second__title__map Где нас найти
            script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae17505b3622f3c860b76579631a4771b41adfff77e96557936c73aa33072a601&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true")
            // end map
            
            // footer
            include blocks/footer
            // end footer

            // script
            include blocks/script
            // end script