doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Галерея
        include blocks/link
    body
        .wrapper 
            // header
            include blocks/header
            // end header
            .photogallery 
                .container
                    h1.first__title__photogallery Галерея
                    p.text__photogallery Здесь вы можете увидеть фотографии с тренировочного процесса и игр.
                    .gallery__block 
                        img.left__arrow(src="images/photogallery/left-arrow.png", alt="", onClick="javascript: leftArrow()")
                        img(src="images/photogallery/img1.png", alt="" id="img__photogallery")
                        img.right__arrow(src="images/photogallery/right-arrow.png", alt="", onClick="javascript: rightArrow()")
            // footer 
            include blocks/footer
            // end footer

            // script
            include blocks/script
            // end script
