<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Программы тренировок
        include blocks/link
    body
        .wrapper
            // head
            include blocks/header
            // end head

            // training programs
            include blocks/training__programs
            .description__training
                .container
                    .description__training__wrapper
                        img.description__training__img(src="images/training_programs/description__training.png", alt="")
                        .text__description__training
                            h3.third__title__description__training Каждая программа подбирается по возрасту
                            p.text__description__training Наша учебная программа разработана в соответствии со всеми стандартами  образования детей. Каждая программа подбирается индивидуального к каждому ребенку и по возрасту.
            // end training programs
            
            // events
            .events
                .container
                    h1.first__title__training.mar__20l Мероприятия
                    h6.six__title__training.mar__50l Каждый месяц мы проводим следующие мероприятия для детей и их родителей
                    .events__list
                        .column__event
                            img.img__event(src="images/events/event1.png", alt="")
                            h6.six__title__training.title__event__column Аттестация
                            p.text__event__column Мы проводим аттестацию учеников каждый месяц, чтобы проверять их умения и навыки.
                        .column__event
                            img.img__event(src="images/events/event2.png", alt="")
                            h6.six__title__training.title__event__column Совместные походы
                            p.text__event__column Для игры в футбол важна хорошая атмосфера в команде. Поэтому каждый месяц мы ходим с детьми в кафе или музей для поднятия командного духа.
                        .column__event
                            img.img__event(src="images/events/event3.png", alt="")
                            h6.six__title__training.title__event__column Футбольный день
                            p.text__event__column В этот день мы проводим небольшие турниры для поддержания атмосферы и оттачивания умений.
            // end events
            // feedback form
            include blocks/feedback__form
            // end feedback form

            // footer
            include blocks/footer
            // end footer

            // script
            include blocks/script
            // end script